# http/ubuntu/22.04/user-data.tftpl
#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: ${host_name}
    username: ${ssh_username}
    password: "${password_hash}"
  locale: en_US
  keyboard:
    layout: us
  ssh:
    install-server: yes
  storage:
    layout:
      name: direct
  packages:
    - qemu-guest-agent
    - curl
    - vim
  user-data:
    timezone: Asia/Shanghai
  late-commands:
    - curtin in-target --target=/target systemctl enable qemu-guest-agent